<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm" th:fragment="navbar">
    <div class="container-fluid row">
        <div class="col-md-2 mt-2">
            <a  th:href="@{/}"><h2 style="float:left;" class="navbar-brand">Super Calculator</h2></a>
        </div>
        <div class="col-md-8 mt-2">
            <a  th:href="@{/calculation}"><h5 style="float:left;" class="navbar-brand">History</h5></a>
        </div>
        <div class="navbar-text col input-group " >
            <a style="margin-left: 35px; padding-left: 65px;" class="nav-link text-muted d-none" href="/">
                <svg  xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
                About
            </a>
        </div>
    </div>
</nav>