<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head"></head>

<body class="bg-light">

<div th:replace="fragments/navbar :: navbar"></div>
<!--    Title-->
<div class="container mt-5"><h3>Calculating history</h3></div>

<!------------------------->
<!--Filter menu-->

<div class="container">
    <a th:if="${backBtn == true }" th:method="get" th:href="@{'/calculation'}">
        Back to all result
    </a>
</div>
<div class="container p-0 rounded-3 mt-4 mb-4 bg-white shadow-sm">
    <h6>Search by result</h6>
    <div class="row p-3">
        <div class="col-md-3">
            <div class="input-group ">
                <form class="row g-3" id="searchForm" method="post" th:action="@{/calculation/search}" >
                    <input type="search" name="search" id="search" form="searchForm" class="form-control" placeholder="Search" />
                </form>
                <button type="button" th:type="submit" form="searchForm" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-2">
            <form method="get" action="/">
                <button class="btn btn-primary round-5 ml-5" type="submit">New Calculating</button>
            </form>
        </div>
    </div>
</div>


<!--    List-->
<div class="container bg-white rounded-3 p-1">
    <div class="row">
        <div class="row mt-3 mb-3">
            <div class="col-8">
                <h6 class=" px-3">Expression</h6>
            </div>
            <div class="col-2">
                <h6>Result</h6>
            </div>
        </div>

        <hr/>
        <!---------------------------------------------------------------------------->
        <div class="row border-bottom p-2" th:each="calculator : ${calculations}">
            <!--  Expression  -->
            <div class="col-8">
                <div>
                    <span th:text="${calculator.expression}">2+2</span>
                </div>
            </div>
            <!------  Result  ------->
            <div class="col-3">
                <span th:text="${calculator.result}">= 4</span>
            </div>
            <div class="col-1">
                <a th:method="get" th:text="Edit" th:href="@{'/calculation/edit'(id=${calculator.id})}">Edit</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>